.container {
   width: min(1200px, 100%);
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   flex-wrap: wrap;
}

.min_height {
   min-height: 75%;
}

.start {
   justify-content: flex-start;
}

.column {
   flex-direction: column;
   justify-content: flex-start;
}

@media screen and (max-width: 768px) {
   
}