.btn {
   font-size: .8rem;
   width: fit-content;
   height: fit-content;
   border: none;
   cursor: pointer;
   padding: .7rem 1rem;
   color: #fff;
   text-decoration: none;
   background-color: #07070a;
   border-radius: 5px;
   transition: .5s;
}

.btn:hover {
   color: #F2B705;
   background-color: #131318;
} 

@media screen and (min-width: 768px) {
   .btn {
      font-size: .9rem;
   }
}