.msg_container {
   width: 100%;
   padding: 1rem 0;
   margin-bottom: 1rem;
   text-align: center;
   border-radius: 5px;
}

.sucess {
   background-color: #c1f3c1;
   color: #1e691e;
   border: 1px solid #1e691e;
}

.error {
   background-color: #f3bcbc;
   color: #921d1d;
   border: 1px solid #921d1d;
}