.form_control {
   display: flex;
   flex-direction: column;
}

.form_control label {
   margin-bottom: .5rem;
   font-weight: bold;
}

.form_control input {
   padding: .7rem;
   border: none;
   border-radius: 5px;
   margin-bottom: 1rem;
}

.form_control input:focus {
   outline-color: #F2B705;
}
