.navbar {
   width: 100%;
   position: absolute;
   top: 0;
}

.menu_logo_container {
   width: 100%;
   background-color: #07070a;
   height: 4rem;
   padding: 0 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 1;
}

.logo_container {
   width: 25px;
}

.logo_container img {
   width: 100%;
}

.menu_container svg {
   font-size: 2rem;
   color: #fff;
   cursor: pointer;
}

.navbar_list {
   width: 100%;
   text-align: center;
   list-style: none;
   overflow: hidden;
   transition: 1s;
   background-color: #07070a;
   padding: .5rem 0;
}

.false {
   transform: translateY(-100%);
}

.true {
   transform: translateY(0);
}

.navbar_list_item {
   width: 100%;
}

.navbar_list_item a{
   width: 100%;
   display: block;
   padding: .7rem 0;
   text-decoration: none;
   transition: .5s;
   color: white;
}

.navbar_list_item a:hover {
   color: #F2B705;
   background-color: #131318;
}