.service_card {
   border: 1px solid gray;
   margin-top: 1rem;
   padding: 1rem;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
}

.service_card span {
   font-weight: bold;
}

.service_card_action button {
   border: none;
}

.service_card_action svg {
   cursor: pointer;
   font-size: 1.1rem;
}