.service_card {
   border: 1px solid #0f0f0f;
   padding: 1rem;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.service_card p {
   margin-bottom: .5rem;
}

.service_card span {
   font-weight: bold;
   text-decoration: underline;
}

.service_card_action button {
   border: none;
}

.service_card_action svg {
   cursor: pointer;
   font-size: 1.1rem;
}