.project_card {
   padding: 1rem 2rem;
   text-align: left;
   margin: .5rem;
   border-radius: 5px;  
   border: 1px solid #0f0f0f;
}

.project_card h2{
   font-size: 1.3rem;
   padding-bottom: .3rem;
   border-bottom: 1px solid #0f0f0f;
   margin-bottom: 1rem;
}

.project_card p {
   margin-bottom: .5rem;
}

.span_budget {
   font-weight: bold;
} 

.text_category {
   display: inline-block;
   margin-right: .5rem;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: transparent;
}

.infra {
   background-color: #7facf0;
}

.design {
   background-color: #f07fc5;
}

.desenvolvimento {
   background-color: #dbf07f;
}

.planejamento {
   background-color: #f0a87f;
}

.project_card_actions {
   margin-top: 1rem;
   display: flex;
   justify-content: space-between;
}

.btn_actions {
   padding: .5rem 1.2rem;
   color: #0f0f0f;
   border-radius: 5px;
   cursor: pointer;    
   transition: .5s;
   text-decoration: none;
   height: fit-content;
   border: none;
   border: 1px solid #0f0f0f;
   font-size: 1rem;
}

.btn_actions svg {
   margin-right: .5rem;
}

.btn_actions:hover {
   color: #F2B705;
   background-color: #131318;
}