.project_card {
   width: 15rem;
   text-align: left;
   margin-bottom: 1rem;
   border-radius: 5px;  
   border: 1px solid #0f0f0f;
   margin-right: 1rem;
}

.project_card h2{
   color: #F2B705;
   padding: .8rem 1rem;
   background-color: #07070a;
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

.project_card p {
   margin-bottom: .5rem;
   padding: 0 1rem;
}

.span_budget {
   font-weight: bold;
} 

.text_category {
   display: inline-block;
   margin-right: .5rem;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: transparent;
}

.infra {
   background-color: #7facf0;
}

.design {
   background-color: #f07fc5;
}

.desenvolvimento {
   background-color: #dbf07f;
}

.planejamento {
   background-color: #f0a87f;
}

.project_card_actions {
   margin-top: 1rem;
   display: flex;
   flex-direction: column;
   padding: 0 1rem ;
}

.btn_actions {
   font-size: .9rem;
   text-align: center;
   padding: .5rem 1rem;
   color: #0f0f0f;
   margin-bottom: .5rem;
   border-radius: 5px;
   cursor: pointer;    
   transition: .5s;
   text-decoration: none;
   border: none;
   border: 1px solid #0f0f0f;
}

.btn_actions:hover {
   color: #F2B705;
   background-color: #131318;
}

.btn_actions svg {
   margin-right: .5rem;
}