.company_container {
   width: 100%;
   padding: 2rem 1rem;
   margin-top: 3.5rem;
   display: flex;
   flex-direction: column;
}

.title_container h1 {
   font-size: 2rem;
   margin-bottom: 2rem;
   padding-bottom: .5rem ;
   border-bottom: 1px solid #808080;
   width: fit-content;
}

.title_container p {
   color: #353434;
   line-height: 1.7rem;
   font-size: 1rem;
}

.img_container {
   padding: 2rem 1rem;
}

.img_container img {
   width: 100%;
}
