.project_container {
   width: 100%;
   margin-top: 3.5rem;
   padding: 2rem 1rem;
}

.info_container {
   border-bottom: 1px solid #808080;
   margin-bottom: 1rem;
}

.info_container,
.services_container {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.details_container,
.form_container,
.details_services,
.form_services {
   width: 100%;
}

.details_container h1,
.services_container h2 {
   font-size: 1.5rem;
   padding-bottom: .2rem;
   margin-bottom: .8rem;
   width: fit-content;
   border-bottom: 1px solid #808080;
}
.details_container p,
.details_services p {
   margin-bottom: .5rem;
}

.details_container p span {
   font-weight: bold;
}

.form_container,
.form_services {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.form_edit,
.service_edit {
   width: 100%;
}

.btn {
   text-decoration: none;
   padding: .7rem 1rem;
   width: fit-content;
   background-color: #07070a;
   color: #ffffff;
   border-radius: 5px;
   margin: 1rem 0;
   cursor: pointer;    
   border: none;
   transition: .5s;
}

.btn:hover {
   color: #F2B705;
   background-color: #131318;
}

@media screen and (min-width: 768px) {
   .project_container {
      padding: 2rem 3rem;
   }

   .info_container {
      background-color: cadetblue;
      align-items: center;
   }

   .details_container,
   .form_container {
      background-color: #808080;
      width: fit-content;
   }
   .details_container h1 {
      font-size: 2rem;
   }
}